#opts{
    float: left;
}
#res{
    margin-top: 90px;
    margin-left: 15px;
    background-color: #7C7C80;
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
}
#dynamic{
    display: flex;
    flex-flow: row;
}